.reviewer-table {
    margin-top: 5%;
    align-items: center
}





.tabs-forms{
    margin-top: 5%;
    align-items: center
}

.mt-2 {
  color:#ffffff;
  background-color: #088099;     
}

.tab-link{
  background-color: #088099;
  color:#ffffff;
  margin: 5px; 
}


